IndentWidth: 4
AlignConsecutiveShortCaseStatements:
  Enabled: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakTemplateDeclarations: Leave
ColumnLimit: 100
InsertNewlineAtEOF: true
PointerAlignment: Left
ReflowComments: true
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
